html, body {
	width: 220px;
	background-color: #F5DEB3;
}

input {
	width: 150px;
	border-spacing: 4px;
	border-color: transparent;
}

.text-input {
	text-align: center;
}

.text-input button {
	cursor:pointer;
	background: #dcb874;
  	border-style: solid;
  	padding: 4px;	
	border-radius: 4px;
}